*.pyc
*.pyc
venv
venv_win
venv_linux
**.pyc
**.pyo
.idea
.idea/
debug.log
db_query.log
.migrations
.migrations/
.DjangoRestFramework/__pycache__
__pycache__/
__pycache__
music/migrations/0002_auto_20170910_1831.py
music/migrations/
